* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #111827;
  padding: 1em;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  background-color: #1f2937;
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  width: 288px;
  min-width: 288px;
  background-color: #20202a;
}

.right {
  width: 83%;
  margin: 2em;
  background-color: blue;
}

.info-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-header {
  background-color: #23232d;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.info-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #111827;
}

.info-name {
  color: #ffffff;
}

.info-title,
.info-email {
  color: #8c8cae;
  font-size: 0.9em;
}

.info-body {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.body-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2em;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 1px solid #5e5e63;
  font-size: 0.9em;
}

.body-details h4 {
  display: inline;
  margin-right: auto;
  color: #ffffff;
  font-weight: 400;
}

.body-details span {
  color: #8c8cae;
  font-size: 0.9em;
  justify-self: flex-end;
}

.body-certifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffc406;
  gap: 1em;
}

.certificates {
  display: flex;
}

.body-certifications h5 {
  flex-basis: 100%;
}

.certificate {
  width: 80px;
  height: 80px;
}

a {
  text-decoration: none;
  font-size: 0.6em;
  text-align: center;
  color: #ffffff;
}

.certificate img {
  width: 100%;
}

.info-socials {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #23232d;
}

.info-socials > a {
  color: #ffc406;
  font-size: 1em;
}
